{% extends 'base.html' %}

{% block head %}
    <title>Posts</title>
    <style>
        li {
            list-style-type: none;
        }
    </style>
{% endblock %}

{% block body %}
    <div id="getPosts">
        {% verbatim %}
        <ul>
            <li v-for="post in posts" :key="item">
                <h2 class="display-2"><a v-bind:href="getDomainNameToUrl(post.slug)">{{ post.title }}</a></h2>
                <h3>Author: {{ post.author }}</h3>
                <h4>Pub date: {{ post.publication_date }}</h4>
            </li>
        </ul>
        {% endverbatim %}
    </div>

{% endblock %}
